<h1>Bienvenido a Epcilon</h1>

<p><a href="/login">Iniciar sesion</a></p>
<p><a href="/register">Registrarse</a></p>

<div class="nav-container">
    <ul>
        <li><a href="/products">Ver productos</a></li>
        <li><a href="/products/new">Nuevo producto</a></li>
        <li><a href="/products/remove">Eliminar producto</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/carts">Ver carritos</a></li>
    </ul>
</div>




