<h1>Iniciar sesion</h1>

<form method="POST" action="api/sessions/login">
    <input type="text" name="email" placeholder="email"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="submit" value="Iniciar sesion"/>
</form>

<div>
    <a href="/api/sessions/github"><button>Entrar con Github</button></a>
    <a href="/forgot-password"><button>Recuperar Contraseña</button></a>
</div>