<form method="post" action="/products/remove">
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; margin: 0;">

    <div style="max-width: 400px; padding: 20px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <label for="productId" style="display: block; margin-bottom: 5px;">ID del Producto a Eliminar:</label>
        <input type="text" id="productId" name="productId" placeholder="Ingrese el ID del producto" required style="width: 95%; padding: 8px; margin-bottom: 10px;">

        <input type="submit" value="Eliminar producto" style="background-color: #e74c3c; color: white; cursor: pointer; border: none;">
    </div>
    <a href="/" class="home-link" style="margin-top: 10px;">Volver al Inicio</a>
</div>
</form>

