<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Aplicación</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="/">Ir al Home</a>
        <a href="/users">Listado de Usuarios</a>   
        <a href="/inventario">Inventario</a>   
        <a href="/chat">Chat</a>   
        <a href="/realTimeProducts">Ir a Real Time Products</a>
        <a href="/products">Ir al Listado de Productos</a>
        <a href="/session/logout" class="logout-button">Logout</a>
    </div>

    <!-- Contenido principal -->
    <div class="welcome">
        <h1>¡Hola!</h1>
        <p>Bienvenido otra vez, querido admin</p>
        <p>Nombre: {{user.first_name}}</p>
        <p>Apellido: {{user.last_name}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.all.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/buttonHandlers.js"></script>
</body>
</html>
