body {
    font-family: 'Arial', sans-serif;
  }
  
  /* -----------------------NAVBAR----------------------- */
  .navbar {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar img {
    max-height: 40px;
  }
  
  form {
    display: flex;
    margin-right: 20px;
  }
  
  form input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
.cart-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  background-color: blue;
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  text-decoration: none;
}

.cart-icon svg {
  fill: white;
  stroke: white;
  vertical-align: middle; 
}




  /* -----------------------CARD PRODUCTS----------------------- */
  .product-title {
    text-transform: uppercase;
    font-size: 1.5em; 
  }

  .product-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 50px;
  }
  .product-item {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.product-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.product-image-container,
.product-details {
    width: calc(33.33% - 1px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.product-image-container {
    height: 150px;
    overflow: hidden;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.product-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.product-details {
    flex-grow: 1;
    padding: 16px;
    border-left: 1px solid #ddd;
    box-sizing: border-box;
}

  
  .product-details li {
    margin-bottom: 8px;
  }

  .product-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    gap: 12px;
}

.product-actions form {
    width: 100%;
}

.product-actions button {
    width: 50%; 
    margin: 0 auto; 
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}


.product-actions button.viewProduct {
    background-color: #007bff;
    color: white;
    margin-top: 8px;
}



/* -----------------------PAGINATION----------------------- */
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .pagination a,
  .pagination span {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
  }
  
  .pagination a:hover {
    background-color: #007bff;
    color: white;
  }
  
  .pagination .prev,
  .pagination .next {
    margin-right: 5px;
  }
  
  .pagination .page-number {
    text-align: center;
  }
