<h1 class="welcome-text">Bienvenidos a Gerhard!</h1>
<nav>
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Notebooks</a></li>
        <li><a href="#">Tablets</a></li>
        <li><a href="#">Smartphones</a></li>
    </ul>
</nav>