<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    {{!-- Agregar aquí cualquier otra etiqueta meta o enlace a hojas de estilo que necesites --}}
</head>
<body>

    <div class="content">
        {{{body}}}
    </div>

    
    {{!-- Agregar aquí cualquier script adicional que necesites --}}
</body>
</html>